<div>
  <h1>Rooms</h1>
  <ul>
    <%= for room <- @rooms do %>
    <li>
      <%= link room.name, to: Routes.room_path(@conn, :show,
      Integer.to_string(room.id)) %> <% end %>
    </li>
  </ul>
  <%= link "Create Room", to: Routes.room_path(@conn, :new) %>
</div>
