<div>
  <h2>Room Details</h2>
  <p>Name: <%= @room.name %></p>
  <p>Topic: <%= @room.topic %></p>
  <p>Description: <%= @room.description %></p>
  <p><%= link "Edit", to: Routes.room_path(@conn, :show, "#{@room.id}") %></p>
  <p>
    <%= link "Delete", to: Routes.room_path(@conn, :delete, @room), method:
    :delete, data: [confirm: "Are you sure?"] %>
  </p>
</div>
